
.box input{
	padding: 5px 0;
	padding-top: 15px;
	margin-bottom: 4%;
}

.box select{

	margin-bottom: 4%;
}
.box input{
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid rgb(119, 115, 115);
}

.box input [type='submit']{
	border-bottom: none;
	cursor: pointer;
	background: #f7497d;
	color: #ffff;
	margin-bottom: 0;
	text-transform: uppercase;
}

.box form div{
	position: relative;
}

.box form div label{
	position: absolute;
	top: 1px;
	left: 0;
	color: #999;
	transition: .5s;
	pointer-events: none;
	
}

.box input:focus ~ label,
.box input:valid ~ label{
	top: -12px;
	left: 0;
	color: #f7497d;
	font-size: 12px;
	font-weight: bold;
}

.box input:focus ,
.box input:valid{
	border-bottom: 2px solid #f7497d;
}